@media only screen and (max-width: 49em){
    body {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    #one, #two {
        grid-column: 1;
    }
    #two {
        grid-row: 3;
    }
    #three {
        grid-row: 4;
    }
    footer, footer span {
        font-size: 12px;
    }
}