@media only screen and (min-width: 32.5em){
    header {
        padding: 5px;
        margin: 10px 10px 30px 10px;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
    footer {
        margin: 30px 10px 10px 10px;
        font-size: 13px;
    }
    h1 {
        font-size: 2.8vw;
        align-self: center;
        font-weight:900;
        color: white;
    }
    h2 {
        font-size: 20px;
        font-weight:800;
        text-shadow: 0rem 0rem 2rem black;
    }
    ul {
        font-size: 18px;
    }
}